table {
  border-collapse: collapse;
  width: 100%; 
  border-width: 0; 
  background-color: #060CE9;
  border: 10px solid #010569;
  margin-top: 15px;
  margin-bottom: 15px;
}

tr {
  float: left;
  width: Calc(100%/5);
  border-width: 0; 
  
}

th,
td {
  height: Calc((100vh*.9)/7);
  border-width: 0; 
}
