table {
  border-collapse: collapse;
  width: 100%; 
  border: 10px solid #010569;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0,0,0,.50);
}

tr {
  float: left;
  width: Calc(100%/5);
  
}

th,
td {
  height: Calc(100vh/7);
}
