button{
    margin: 10px;
    background-color: red;
    border: 5px solid #7C0A00;
    padding: 14px ;
    color: aliceblue;
    font-size: 26px;
    padding-top: 5px;
    padding-bottom:5px; 
    border-radius: 1%;
}
div.header{
    width: 100%;
    text-align: left;
    background: linear-gradient(to top left, #000088, #0000ff);
    height: Calc(100vh*0.13);
    padding-top: 2px;
    padding-bottom: 2px;
}