

.question-tile  {
  background: linear-gradient(to top left, #000088, #060CE9);
  color: #ffd700; 
  justify-content: center;
  display: flex;
  align-items: center; 
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3.0vw;
  line-height: 1em; 
}